@{
    ViewBag.Title = "GirisYap";
}

<h2>GirisYap</h2>

<form action="/Home/GirisYap" method="post">
    <input type="text" name="KullaniciAdi" />
    <input type="text" name="Sifre"/>
    <input type="submit" value="Giriş Yap" />
</form>